body {
  background-color: #4078c0;
  color: white;
  font-family: "Avant Garde", Avantgarde, sans-serif;
}

header h1 {
  font-family: "Papyrus";
  font-size: 3em;
  margin-bottom: -20px;

}

div#header-wrap {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
}









/*
CSS Brainstorming:

-fixed position header (centered) and footer nav (left)
  -possibly nav sidebar?

-background image on header?

-header font "Archer, serif;"

-sections with class="topic"
  -h3 gets its own font
  -p gets a different font
  -borders
  -padding

-different color for visited links
  -using a pseudo-class

-assign ID to form to make it unique with CSS?

-media query
*/